body{
    background-image: url("https://media.istockphoto.com/id/1321652722/photo/female-student-research-information-for-her-thesis-with-books-and-digital-tablet.jpg?s=612x612&w=0&k=20&c=rP1kCNU6Kp52WR4T6yU0XVdsZuJB0qyBk2ENnWKfZq8=");
    background-repeat: no-repeat;
    background-size: cover;    
}

h2{
    color: black;
    font-size: 75px;
    font-style:italic;
    width: 400px;
    height: 100px;
   border-radius: 50px 50px;
}
table{
    color:gold;
    background-image: url("");
    font-size: 85px;
    width: 50px;
    height: 50px;
    border: 2px solid color;
    border-radius: 50px 50px;
}


h1{
        color: black;
    font-size: 25px;
    font-style:italic;
}

h1 a{
        color: black;
    text-decoration: none;
}

h3{
    color: black;
    font-size: 35px;
    font-style:italic;
}
h3 a {
    color: white;
    text-decoration: none;
}
h4{
    color: black;
    font-size: 35px;
    font-style:italic;
  
}
h4 a {
    color: white;
    text-decoration: none;
}
h5{
    color: black;
    font-size: 35px;
    font-style:italic;}

    h5 a {
    color: white;
    text-decoration: none;
}
